*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Red Hat Display, serif;
  background-color: #FAFAFA;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

.logo {
  margin-top: 80px;
  margin-bottom: 66px;
}

.button {
  height: 58px;
  padding: 16px 40px 16px 40px;
  border-radius: 29px;
  border: none;
  font-size: 16px;
  line-height: 26px;
  color: #FAFAFA;
}

.group-chat-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 110px;
}
.group-chat-container .background {
  display: block;
}
.group-chat-container .background-tablet {
  display: none;
}
.group-chat-container .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 88px;
  margin-right: 88px;
}
.group-chat-container .info-container .title {
  font-size: 64px;
  line-height: 64px;
  width: 445px;
  margin-bottom: 34px;
}
.group-chat-container .info-container .main-text {
  font-size: 18px;
  line-height: 26px;
  width: 540px;
  margin-bottom: 32px;
  color: #87879D;
}
.group-chat-container .info-container .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.group-chat-container .info-container .download-button {
  background-color: #4D96A9;
}
.group-chat-container .info-container .download-button:hover {
  background-color: #71C0D4;
  cursor: pointer;
}
.group-chat-container .info-container .download-button .version-one {
  color: #8FE3F9;
}
.group-chat-container .info-container .info-button {
  background-color: #855FB1;
}
.group-chat-container .info-container .info-button:hover {
  background-color: #B18BDD;
  cursor: pointer;
}

.section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 64px;
}
.section-one .vertical-line {
  border-left: 1px solid rgba(135, 135, 157, 0.25);
  width: 1px;
  height: 84px;
}
.section-one .circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 0.25);
  color: #87879D;
}

.user-photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 80px;
}
.user-photos .photo {
  border-radius: 8px;
  height: 242px;
  width: 255px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 540px;
  height: 240px;
  margin-bottom: 72px;
}
.info .slogan {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  color: #4D96A9;
  margin-bottom: 16px;
}
.info .local-title {
  text-align: center;
  font-size: 40px;
  line-height: 44px;
  width: 445px;
  color: #28283D;
  margin-bottom: 32px;
}
.info .main-text {
  font-size: 18px;
  line-height: 26px;
  width: 540px;
  text-align: center;
  color: #87879D;
}

.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: -28px;
  z-index: 1;
}
.section-two .vertical-line {
  border-left: 1px solid rgba(135, 135, 157, 0.25);
  width: 1px;
  height: 84px;
}
.section-two .circle {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 0.25);
  color: #87879D;
  z-index: 1;
}

footer {
  width: 100vw;
  position: relative;
  background-color: #4D96A9;
  height: 308px;
}
footer .footer-image {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 308px;
  display: block;
}
footer .footer-image-tablet {
  display: none;
}
footer .footer-image-phone {
  display: none;
}
footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 116px 165px 104px 165px;
  color: #FAFAFA;
}
footer .footer-container .local-title {
  font-size: 40px;
  line-height: 44px;
  width: 350px;
  margin-right: 125px;
}
footer .footer-container .main-text {
  width: 350px;
  font-size: 18px;
  line-height: 26px;
  margin-right: 92px;
}
footer .footer-container .download-button {
  background-color: #855FB1;
  z-index: 1;
  color: #FAFAFA;
  font-size: 16px;
}
footer .footer-container .download-button:hover {
  background-color: #B18BDD;
  cursor: pointer;
}
footer .footer-container .download-button .version-two {
  color: #D9B8FF;
}

@media only screen and (max-width: 768px) {
  .logo {
    margin-bottom: 54px;
  }
  .group-chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
  }
  .group-chat-container .background {
    display: none;
  }
  .group-chat-container .background-tablet {
    display: block;
    height: 153px;
    width: 414px;
    margin-bottom: 48px;
  }
  .group-chat-container .info-container {
    margin-bottom: 32px;
  }
  .group-chat-container .info-container .title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 24px;
    width: 327px;
  }
  .group-chat-container .info-container .main-text {
    font-size: 16px;
    width: 327px;
  }
  .group-chat-container .info-container .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-one {
    margin-bottom: 64px;
  }
  .user-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-bottom: 64px;
  }
  .user-photos .photo {
    height: 143px;
    width: 151px;
  }
  .info {
    width: 327px;
    margin-bottom: 64px;
  }
  .info .local-title {
    width: 327px;
    font-size: 32px;
    line-height: 36px;
  }
  .info .main-text {
    width: 327px;
    font-size: 16px;
  }
  footer {
    width: 375px;
    height: 428px;
    margin-bottom: 0;
  }
  footer .footer-image {
    display: none;
  }
  footer .footer-image-tablet {
    display: none;
  }
  footer .footer-image-phone {
    display: block;
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    height: 428px;
    width: 375px;
  }
  footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 92px;
    text-align: center;
  }
  footer .footer-container .local-title {
    font-size: 32px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 24px;
  }
  footer .footer-container .main-text {
    width: 327px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1110px) {
  .logo {
    margin-top: 48px;
    margin-bottom: 64px;
  }
  .group-chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }
  .group-chat-container .background {
    display: none;
  }
  .group-chat-container .background-tablet {
    display: block;
    margin-bottom: 72px;
  }
  .group-chat-container .info-container .title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
    width: 339px;
  }
  .group-chat-container .info-container .main-text {
    font-size: 16px;
    width: 457px;
  }
  .section-one {
    margin-bottom: 67px;
  }
  .user-photos {
    gap: 11px;
    margin-bottom: 48px;
  }
  .user-photos .photo {
    height: 156px;
    width: 164px;
  }
  .info {
    width: 573px;
    margin-bottom: 80px;
  }
  .info .main-text {
    font-size: 16px;
    width: 573px;
  }
  footer {
    height: 428px;
    margin-bottom: 0;
  }
  footer .footer-image {
    display: none;
  }
  footer .footer-image-phone {
    display: none;
  }
  footer .footer-image-tablet {
    display: block;
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 428px;
  }
  footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 92px;
    padding-left: 155px;
    padding-right: 156px;
  }
  footer .footer-container .local-title {
    width: 457px;
    margin-right: 0;
    margin-bottom: 32px;
    z-index: 1;
  }
  footer .footer-container .main-text {
    margin-right: 0;
    margin-bottom: 40px;
    width: 573px;
  }
  footer .footer-container .download-button {
    margin-bottom: 66px;
  }
}/*# sourceMappingURL=style.css.map */